name = "your-worker-name"
main = "src/index.ts"
workers_dev = true
compatibility_flags = [ "nodejs_compat" ]
compatibility_date = "2024-09-23"

[ai]
binding = "AI"
[observability.logs]
enabled = true
